<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <title>octopus - {{username}}</title>
</head>
<body>
<script src="/static/js/d3.v3.min.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Octopus</a>
        </div>
        <div class="navbar-form navbar-right">
          <div class="form-group">

        </div>
        </div>
      </div>
    </nav>
<div style="margin-top:50px; margin-left:0.5%">
  <div class="row">
    <div class="col-md-5" align="center" style="margin-top:5%">
      <div class="row">
              <div class="col-md-6" align="center">
                <img class="img-circle" src={{user_pic_url}} alt="User Profile Image" style="width:100%; height:100%; margin-top:5%">
              </div>
              <div class="col-md-6" align="center" style="margin-top:5%; vertical-align:middle;">
                <h2>{{username}}</h2>
                <br>
                <p style="font-size:20px;">Articles: <strong>145</strong> </p>
                <p style="font-size:20px;">Follower: <strong>212</strong> persons</p>
                <p style="font-size:20px;">Follow: <strong>212</strong> persons</p>
              </div>
      </div>
      <div class="row">
              <div class="col-md-6" align="center">
                <img src={{pic}} alt="User Profile Image" style="width:100%; height:100%; margin-top:5%">
              </div>
              <div class="col-md-6"  align="center" style="margin-top:12%; vertical-align:middle;">
                <p style="font-size:20px;"><stong>"</stong> {{text}} <stong>"</stong></p>
                <p style="font-size:20px;">This articles would get</p>
                <p style="font-size:20px;"><strong>20</strong> likes!</p>
              </div>
            </div>
    </div>
    <div class="col-md-7" id="clustering">
    </div>
  </div>
</div>
<img src="static/logo.png" style="position: fixed; bottom: 0; right: 0; height:15%; width:15%">
<script>

var width = window.innerHeight,
    height = window.innerHeight * 0.8,
    padding = 2, // separation between same-color nodes
    clusterPadding = 20, // separation between different-color nodes
    maxRadius = 0;

var color = d3.scale.category10()
    .domain(d3.range({{m}}));

var nodes = {{nodes|tojson}};

var clusters = new Array({{m}});
nodes.map(function(node) {
  if (!clusters[node.cluster] || clusters[node.cluster].radius > node.radius) {
    clusters[node.cluster] = node;
    if (maxRadius < node.radius) {
      maxRadius = node.radius;
    }
  }
});

// Use the pack layout to initialize node positions.
d3.layout.pack()
    .sort(null)
    .size([width, height])
    .children(function(d) { return d.values; })
    .value(function(d) { return d.radius * d.radius; })
    .nodes({values: d3.nest()
      .key(function(d) { return d.cluster; })
      .entries(nodes)});

var force = d3.layout.force()
    .nodes(nodes)
    .size([width, height])
    .gravity(.02)
    .charge(0)
    .on("tick", tick)
    .start();

var svg = d3.select("#clustering").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.selectAll('pattern')
   .data(nodes)
   .enter().append('pattern')
   .attr('id', function(d) { return `pic_${d.name}` })
   .attr('width', function(d) { return d.radius * 2 })
   .attr('height', function(d) { return d.radius * 2 })
   .append('image')
   .attr('xlink:href', function(d) { return d.icon })
   .attr('width', function(d) { return d.radius * 2 })
   .attr('height', function(d) { return d.radius * 2 })

var node = svg.selectAll("circle")
    .data(nodes)
    .enter().append("circle")
    .style("stroke", function(d) { return color(d.cluster); })
    .style("stroke-width", 1)
    .style("fill", function(d) { return `url(#pic_${d.name})`; })
    .call(force.drag);

node.on('click', function(d) {
  document.location = `/${d.name}`;
});

node.on("mouseover",function(d){
        d3.select(this)
        .style("fill", "white")
        svg.append("text")
        .attr({id: "username", x: this.cx.baseVal.value, y: this.cy.baseVal.value})
        .style("text-anchor", "middle")
        .style("font-weight","bold")
        .text(function() { return d.name })
        .call(force.drag);
      })
      .on("mouseout",function(){
        d3.select(this)
        .style("fill", function(d) { return `url(#pic_${d.name})`; })
        svg.select('#username').remove()
      });

node.transition()
    .duration(750)
    .delay(function(d, i) { return i * 5; })
    .attrTween("r", function(d) {
      var i = d3.interpolate(0, d.radius);
      return function(t) { return d.radius = i(t); };
    });

function tick(e) {
  node
      .each(cluster(10 * e.alpha * e.alpha))
      .each(collide(.5))
      .attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
}

// Move d to be adjacent to the cluster node.
function cluster(alpha) {
  return function(d) {
    var cluster = clusters[d.cluster];
    if (cluster === d) return;
    var x = d.x - cluster.x,
        y = d.y - cluster.y,
        l = Math.sqrt(x * x + y * y),
        r = d.radius + cluster.radius;
    if (l != r) {
      l = (l - r) / l * alpha;
      d.x -= x *= l;
      d.y -= y *= l;
      cluster.x += x;
      cluster.y += y;
    }
  };
}

// Resolves collisions between d and all other circles.
function collide(alpha) {
  var quadtree = d3.geom.quadtree(nodes);
  return function(d) {
    var r = d.radius + maxRadius + Math.max(padding, clusterPadding),
        nx1 = d.x - r,
        nx2 = d.x + r,
        ny1 = d.y - r,
        ny2 = d.y + r;
    quadtree.visit(function(quad, x1, y1, x2, y2) {
      if (quad.point && (quad.point !== d)) {
        var x = d.x - quad.point.x,
            y = d.y - quad.point.y,
            l = Math.sqrt(x * x + y * y),
            r = d.radius + quad.point.radius + (d.cluster === quad.point.cluster ? padding : clusterPadding);
        if (l < r) {
          l = (l - r) / l * alpha;
          d.x -= x *= l;
          d.y -= y *= l;
          quad.point.x += x;
          quad.point.y += y;
        }
      }
      return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
    });
  };
}

</script>